.display-4.fw-bold.mb-0 = t('.greeting')
p.mb-4 = t('.presentation')
h2.fw-bold = t('.title')
p = t('.project_description')
= link_to t('.learn_more'),
  repositories_path,
  class: 'btn btn-primary btn-lg px-4 mt-3 fw-bold'
